body {
    width: 100%;
    margin: 5px 0px;
}
#navbar {
background-color: black;
color: aliceblue;
margin: none;
padding: 0;
text-align: center;
width: 100%;
position: fixed;
top:0;
}
h1{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
    display: grid;
    margin-top: 100px;
    list-style-type: none;
    padding-left:10px;
    padding-right: 10px;
    grid-template-columns: 30% 30% 30%;
}
button {
    margin-left: 0px;
    padding-left: 0px;
    border:20px black;
}
a {
margin-left: 0px;
padding-left: 0px;
}
.recipe {
height: 200px;
background-size: contain;
font-size: 60px;
width:260px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
list-style-type: none;
text-decoration: none;
color: aliceblue;
text-shadow: 20px black;
border-radius: 10px;
-webkit-text-stroke: 2px black;
}
li {
font-family: 'Times New Roman', Times, serif;
}
.recipe:hover {
color: black;
-webkit-text-stroke: 2px white;
border: 20px black;
}
#ch {
background-image: url(recipes/imgs/choccychipcookies.jpg);
height: 200px;
background-size: contain;
font-size: 60px;
width:260px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
#tres {
background-image: url(recipes/imgs/tresleches.jpg);
height: 200px;
width:240px;
}
#ribs {
background-image: url(recipes/imgs/ribs.jpg);
height: 200px;
width: 400px;
font-size: 200px;
}